<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-right-left"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="right" ng-controller="MenuCtrl" >
    <header class="bar bar-header bar-stable">
      <h1 class="title">NewsBlast Reborn</h1>
    </header>
    <ion-content class="has-header" style="height:100px">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/readlater">
          Read later list
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          All sections
        </ion-item>
      </ion-list>
        </ion-content>
  <ion-header-bar class="bar-positive" style="margin-top:145px">
      <div class="buttons">
          <h1 class="title">Sections</h1>
      <button class="button"
          ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
            Reorder
          </button>
      </div>
    </ion-header-bar>
    <ion-content style="margin-top:145px">
      <ion-list show-reorder="data.showReorder">

        <ion-item ng-repeat="item in sections" ng-class="{'disabled':item.disabled}" item="item">
          {{item.title}}
          <ion-option-button ng-if="!item.disabled" class="button-assertive"
                       ng-click="disableSection(item)">
                    Disable
          </ion-option-button>
              <ion-option-button ng-if="item.disabled" class="button-balanced"
                       ng-click="disableSection(item)">
                    Enable
          </ion-option-button>      
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
