<ion-view hide-nav-bar="true">
            <ion-header-bar align-title="center" class="bar-positive">
            <h1 class="title">{{sectionTitle}}</h1>
                        <div class="buttons">
                <button class="button button-clear" ng-click="toggleMenu()"><span class="ion-navicon-round"></span></button>
            </div>
          </ion-header-bar>

  <ion-content has-bouncing="false" has-header="true">
    <ion-slide-box loop="true" on-slide-changed="slideHasChanged($index)" style="height:{{::windowHeight}}px;top:0px" delegate-handle="articles-slides">
      <ion-slide class="rz-article-cover" ng-class="{current:currentIndex==$index}" ng-repeat="playlist in ::playlists"  style="height:{{::windowHeight}}px;" >
        <ion-content delegate-handle="section{{::currentIndex}}" has-bouncing="false" >

         <ion-list class="tracks">
          <ion-item class="image" ng-class="{'active':item.active}" ng-repeat="item in ::playlist.tracks" ng-click="openStory(item.uid,$index)">
          <div ng-hide="item.isAd" class="track-bg" style="background-image:url({{item.image}});"></div>
            <div ng-hide="item.isAd" class="slug">
              <h1>{{::item.title}}</h1>
              </div>
          </ion-item>
        </ion-list>

            </ion-content>
    
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <!---<ion-footer-bar>
     <div class="buttons">
                <button class="button" ng-show="currentIndex==0" ng-click="openReadLater()"><span class="ion-ios7-arrow-back"></span>&nbsp;Read Later</button>
                <button class="button" ng-hide="currentIndex==0" ng-click="prevSlide($index)"><span class="ion-ios7-arrow-back"></span>&nbsp;{{prevSection}}</button>
            </div>
    <h1 class="title">
    </h1>
      <div class="buttons">
                <button class="button" ng-hide="currentIndex==(playlists.lenght-1)" ng-click="nextSlide($index)">{{nextSection}}&nbsp;<span class="ion-ios7-arrow-forward"></span></button>
            </div>
    
</ion-footer-bar> -->
</ion-view>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
  <filter id="svgfilter">
    <feGaussianBlur stdDeviation="10" />
    <feComponentTransfer>
        <feFuncR type="linear" slope="0.9"/>
        <feFuncG type="linear" slope="0.9"/>
        <feFuncB type="linear" slope="0.9"/>
    </feComponentTransfer>
  </filter>
</svg>

<svg:svg height="0">
  <svg:clipPath id="c1" clipPathUnits="objectBoundingBox">
    <svg:circle cx="0.25" cy="0.25" r="0.25" id="circle"/>
    <svg:rect x="0.5" y="0.2" width="0.5" height="0.8"/>
  </svg:clipPath>
</svg:svg>

