<ion-view hide-nav-bar="true">
 <ion-header-bar align-title="center" class="bar-positive">
   <div class="buttons">
      <button class="button button-clear" ng-click="goBack()"><span class="ion-ios7-arrow-back"></span>&nbsp;Back</button>
    </div>
   <h1 class="title">{{story.section}}</h1>
      <div class="buttons">
           <button class="button button-clear" ng-click="toggleMenu()"><span class="ion-navicon-round"></span></button>
      </div>
 </ion-header-bar>
  <ion-content on-scroll="onStoryContentScroll($event)" delegate-handle="story-scroll">
   <ion-list class="story-list">
          <ion-item id="story-gallery" class="story-image" style="height:248px;z-index:0">
            <ion-slide-box style="width:100%;height:248px" delegate-handle="image-slides" loop="true">
             <ion-slide ng-repeat="image in gallery" style="width:{{::windowWidth}}px;height:248px;background-image:url({{::image.href}})">
              </ion-slide>

              <ion-slide-pager></ion-slide-pager>
            </ion-slide-box>
          </ion-item>
          <ion-item id="story-title" class="story-title"> <h1>{{story.title}}</h1>
  <div class="icons-row">
        <div class="story-icon" ng-class="{'active-icon':$index==activeTabIndex}" ng-repeat="tab in ::tabs" ng-click="toggleTab($index)">
           <i class="icon {{tab.icon}}"></i><span ng-show="$index>0" class="tab-counter">{{::tab.count}}</span><span class="icon-label">{{tab.title}}</span>
        </div>
    </div>
        </ion-item>
      <!--    <ion-item class="icons-row">
            <div class="story-icon" ng-class="{'active-icon':$index==activeTabIndex}" ng-repeat="tab in tabs" ng-click="toggleTab($index)">
              <i class="icon {{tab.icon}}"></i><span>{{tab.title}}</span>
            </div>
          </ion-item> -->
          <ion-item class="story-tabs" style="height:{{::windowHeight-175}}px;margin-top:0px;width:{{windowWidth}}px">
            <ion-slide-box style="height:{{::windowHeight-175}}px;" on-slide-changed="tabHasChanged($index)" delegate-handle="story-tabs" loop="true">
              <ion-slide style="width:{{windowWidth}}px;height:{{::windowHeight-175}}px" ng-repeat="tab in ::tabs">
              <ion-content style="width:100%;height:100%;margin-top:2px"  scroll="true" class="text">
                    <div ng-show="tab.displayType=='text'" ng-bind-html="text"></div>
                    <ion-list ng-show="tab.displayType=='list'">
                      <a class="item-link" ng-repeat="item in tab.data track by $index"  ng-click="openItem(item.href)" >
                        <ion-item class="entities-list" ng-class="{'item-thumbnail-left':item.img}">
                            <img ng-if="item.img" style="background:#ccc" ng-src="{{::item.img}}">
                            <h2 ng-bind-html="item.title"></h2>
                           <p ng-bind-html="item.shortDesc"></p>
                           <div class="wiki-attribution" ng-show="tab.kind=='entities'">Source:Wikipedia</div>
                        </ion-item>
                      </a>
                    </ion-list>
                </ion-content>
              </ion-slide>
            </ion-slide-box>
          </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
