<ion-view title="Subscribe" hide-nav-bar="true" id="subscribe">
   <ion-header-bar align-title="center" class="bar-positive">
   <div class="buttons">
      <button class="button button-clear" ng-click="goBack()"><span class="ion-ios7-arrow-back"></span>&nbsp;Back</button>
    </div>
   <h1 class="title">SUBSCRIBE</h1>
      <div class="buttons">
           <button class="button button-clear" ng-click="toggleMenu()"><span class="ion-navicon-round"></span></button>
      </div>
 </ion-header-bar>
  <ion-content id="subscribe-content" class="has-header">
  	<div class="row row-center">
  		<div class="col col-100">
  			<div class="smh-logo"></div>
  			
  		</div>
  	</div>

  	<div class="row row-center">
  		<div class="col col-100">
  			<h3>Want to read more?</h3>
  		</div>
  	</div>
  
  	<div class="row row-center">
  		<div class="col col-80 col-offset-10">
  			<p>To read all articles subscribe or log in with an existing SMH digital subscription.</p>
  		</div>
	</div>

  		
  		
	<ion-item>
	<h3>I'm a SMH subscriber</h3>
		   <div class="list">
		   	<form name="loginForm" ng-controller="SubscriptionCtrl">
		  <label class="item item-input" ng-class="{'invalid animated tada':errors.email}">
		    <span class="input-label">Email</span>
		    <input type="email" name="email" ng-model="email" value="{{email}}" placeholder="Email" ng-change="resetValidation('email')" required>
		  </label>
		  <label class="item item-input" ng-class="{'invalid animated tada':errors.pass}">
		    <span class="input-label">Password</span>
		    <input type="password"  name="email" ng-model="pass" placeholder="Password" ng-change="resetValidation('pass')" required>
		  </label>
			<button ng-click="checkSubsription()" class="button button-outline button-block button-positive icon-left" ng-class="{'ion-key':!loginProcessing,'ion-refresh':loginProcessing}">
      				Login
    		</button>
    		</form>
		</div>
	</ion-item>

	<ion-item>
		<button ng-click="startTrial()" class="button button-block button-outline button-assertive icon-left ion-bag">
      		Start free trial
    	</button>
	</ion-item>
  </ion-content>
</ion-view>
