<h3 id="1-0-0-beta-13-nightly-840-changes-since-v1-0-0-beta-13-2014-12-03-">1.0.0-beta.13-nightly-840 (changes since v1.0.0-beta.13) (2014-12-03)</h3>
<h4 id="bug-fixes">Bug Fixes</h4>
<ul>
<li><strong>$ionicHistory:</strong> pop duplicate view registers (<a href="https://github.com/driftyco/ionic/commit/4833467d86f3484159dd7de46a8a38c38ab44178">4833467d</a>)</li>
<li><strong>$ionicNavBarDelegate:</strong> update method names (<a href="https://github.com/driftyco/ionic/commit/04cf629fb42ee9426d05b9a75309a5d506b24f80">04cf629f</a>)</li>
<li><strong>$ionicTabsDelegate:</strong> find active tab instance (<a href="https://github.com/driftyco/ionic/commit/0fd6e915aaec48d92c38e20d064ea381f6568948">0fd6e915</a>)</li>
<li><strong>backButton:</strong> add .header-item class (<a href="https://github.com/driftyco/ionic/commit/57bf4f16831264470422a62f2d0a9690a38dcdcb">57bf4f16</a>)</li>
<li><strong>backdrop:</strong> use sass vars (<a href="https://github.com/driftyco/ionic/commit/a56bbc978dff7f3c143b7bb92ec6f031855bb6b5">a56bbc97</a>)</li>
<li><strong>clickBlock:</strong> cancel pending show if already hidden (<a href="https://github.com/driftyco/ionic/commit/096784984f312126a4546217ec4f140d6afd6aa9">09678498</a>)</li>
<li><strong>collectionRepeat:</strong><ul>
<li>parse collection-item-height/width to int (<a href="https://github.com/driftyco/ionic/commit/a49e577db8890d2eadb40d79533b30f82f7c5f52">a49e577d</a>, closes <a href="https://github.com/driftyco/ionic/issues/2633">#2633</a>)</li>
<li>rerender after resize/enter (<a href="https://github.com/driftyco/ionic/commit/3ddaf34722054bde9c14c6f28f840fe10845a343">3ddaf347</a>)</li>
<li>fix error when switching back to collection-repeat after resizing (<a href="https://github.com/driftyco/ionic/commit/c1f4cbd7730aab24838a59a59605cdcabc233056">c1f4cbd7</a>)</li>
</ul>
</li>
<li><strong>content:</strong> don&#39;t resize content on keyboard open if it&#39;s inside a modal. (<a href="https://github.com/driftyco/ionic/commit/84f18a1c6e1255e2ab9eff1f7d6fb92bac924391">84f18a1c</a>, closes <a href="https://github.com/driftyco/ionic/issues/2212">#2212</a>)</li>
<li><strong>delegate:</strong><ul>
<li>find delegate when multiple parent histories (<a href="https://github.com/driftyco/ionic/commit/61916c61bbd1b145933cf66b45c5ede95082b1b2">61916c61</a>)</li>
<li>isActiveScope climb parent scopes (<a href="https://github.com/driftyco/ionic/commit/03d2f1ca8f779bdcf3abe0c0b0f03ae1dd1413bd">03d2f1ca</a>)</li>
</ul>
</li>
<li><strong>delegates:</strong> find active instance (<a href="https://github.com/driftyco/ionic/commit/0951b97f0637babca0d6dae264439c459553baa8">0951b97f</a>)</li>
<li><strong>disconnect:</strong> move scope disconnect before enter (<a href="https://github.com/driftyco/ionic/commit/fb81f9704f3de56b0a49ed43fefa650d42b2263c">fb81f970</a>)</li>
<li><strong>fonts:</strong> missing comma (<a href="https://github.com/driftyco/ionic/commit/4f8bbc181f37aa3207f785b0f1d2675dd02ac42c">4f8bbc18</a>)</li>
<li><strong>headerBar:</strong><ul>
<li>pass attrs from ionNavBar (<a href="https://github.com/driftyco/ionic/commit/48726297d92e8c1a0320e4db7cb97ffcccba0ed2">48726297</a>, closes <a href="https://github.com/driftyco/ionic/issues/2563">#2563</a>)</li>
<li>view header bars stay under nav bars (<a href="https://github.com/driftyco/ionic/commit/b3d1cc04ded74baeba3f09acb9b1a5a9ffd714c0">b3d1cc04</a>)</li>
</ul>
</li>
<li><strong>hideNavBar:</strong> send data in $ionicView.beforeEnter (<a href="https://github.com/driftyco/ionic/commit/1395513aa45d9d236f59c2b3594e611e9a5ed293">1395513a</a>)</li>
<li><strong>ionOptionButton:</strong> vertically align content (<a href="https://github.com/driftyco/ionic/commit/456c2ec71e420b388be49d2a7c84f197c74babb7">456c2ec7</a>, closes <a href="https://github.com/driftyco/ionic/issues/2348">#2348</a>)</li>
<li><strong>ionView:</strong> observe for attr changes (<a href="https://github.com/driftyco/ionic/commit/9e5caf5983cd93ad9e426378548eaede6e73ff37">9e5caf59</a>)</li>
<li><strong>ionicons:</strong><ul>
<li>animated icons may rotate on older android devices (<a href="https://github.com/driftyco/ionic/commit/df23a5967b554d16109dfd349a1ce82741d5cab4">df23a596</a>)</li>
<li>only apply spin to :before, and not the entire element (<a href="https://github.com/driftyco/ionic/commit/76405d7562ada72b3b5109c6f46ddfe110db111a">76405d75</a>, closes <a href="https://github.com/driftyco/ionic/issues/2416">#2416</a>)</li>
</ul>
</li>
<li><strong>listView:</strong> unchecked null pointer (<a href="https://github.com/driftyco/ionic/commit/3c4f15c748e84cd1e7850985fc0522a04470ee66">3c4f15c7</a>)</li>
<li><strong>loading:</strong><ul>
<li>prevent loading service from disabling all future back button behavior. (<a href="https://github.com/driftyco/ionic/commit/34934f636e89a77f61eae96d7cf94b1925fff7b3">34934f63</a>, closes <a href="https://github.com/driftyco/ionic/issues/2214">#2214</a>)</li>
<li>subsequent calls use config defaults and not last call&#39;s options., #2088 (<a href="https://github.com/driftyco/ionic/commit/cffe631866d093226aa8b8a54122de3d21a23646">cffe6318</a>, closes <a href="https://github.com/driftyco/ionic/issues/2066">#2066</a>)</li>
</ul>
</li>
<li><strong>menuClose:</strong><ul>
<li>expire nextViewOptions (<a href="https://github.com/driftyco/ionic/commit/bba9e795ca7550ade41a322e142e36f55db0538e">bba9e795</a>)</li>
<li>add resetHistory() to menuClose (<a href="https://github.com/driftyco/ionic/commit/49aaed7e7b57e76ed77f32838a72cc728afcbdde">49aaed7e</a>)</li>
</ul>
</li>
<li><strong>nav:</strong><ul>
<li>correct element structure for nav-vew (<a href="https://github.com/driftyco/ionic/commit/2b23957558b19e78fc4cc50acc3ad4b96fb1c984">2b239575</a>)</li>
<li>prevent nav-bar flicker w/ no animation (<a href="https://github.com/driftyco/ionic/commit/4366bd57e43c5205fde03079b7b2c961f07fc882">4366bd57</a>)</li>
</ul>
</li>
<li><strong>navButtons:</strong> correct show/hide (<a href="https://github.com/driftyco/ionic/commit/ff055d6f6d55f7f6d9d18b6eb633ea6c4c699ca1">ff055d6f</a>)</li>
<li><strong>navDirection:</strong> use correct direction value (<a href="https://github.com/driftyco/ionic/commit/4ba4b44f473f83ec5bef7ec5fa16b9ce3e9675fa">4ba4b44f</a>)</li>
<li><strong>navViewController:</strong> create navBarCtrl.title (<a href="https://github.com/driftyco/ionic/commit/ed8bd94fc63fb7cc029be7ad6a50143c17d47b08">ed8bd94f</a>)</li>
<li><strong>popover:</strong> reposition popover on window resize. (<a href="https://github.com/driftyco/ionic/commit/1224902e57301f92ee40f3e81425cf89e85c7c89">1224902e</a>, closes <a href="https://github.com/driftyco/ionic/issues/2189">#2189</a>)</li>
<li><strong>popup:</strong><ul>
<li>add animation keyframes (<a href="https://github.com/driftyco/ionic/commit/083ae7b54c9dea468a70e7742f657b977520e352">083ae7b5</a>)</li>
<li>hide buttons div if there&#39;s no buttons to show. (<a href="https://github.com/driftyco/ionic/commit/d3026edffce08b5614777cba086c703775953a2f">d3026edf</a>, closes <a href="https://github.com/driftyco/ionic/issues/2344">#2344</a>)</li>
<li>prevent back to back popups from dismissing background. (<a href="https://github.com/driftyco/ionic/commit/5658a4df0c2221f867ec3e0f6484f58094d516b4">5658a4df</a>, closes <a href="https://github.com/driftyco/ionic/issues/2071">#2071</a>)</li>
</ul>
</li>
<li><strong>pull to refresh:</strong> minor optimization to prevent flicker on deactivate (<a href="https://github.com/driftyco/ionic/commit/8787760aad446aac633616a02886af6e370ac0e2">8787760a</a>)</li>
<li><strong>pullToRefresh:</strong> fix animated icon sometimes not showing (<a href="https://github.com/driftyco/ionic/commit/eb265c5823b61de0b58140505cc739fe97f55fb6">eb265c58</a>)</li>
<li><strong>refresher:</strong> Fix refreshing icon in Android 4.3 and lower (<a href="https://github.com/driftyco/ionic/commit/5a28bbb1bd4c551a8a7e3dd49696968e6a0e7ebf">5a28bbb1</a>)</li>
<li><strong>scroll:</strong><ul>
<li>prevent &#39;cannot read&#39; exception (<a href="https://github.com/driftyco/ionic/commit/7faed0a028f3cf04e655b6bfea2dd9368ce4a568">7faed0a0</a>)</li>
<li>prevent &#39;cannot read&#39; exception (<a href="https://github.com/driftyco/ionic/commit/417c3d4ef33be8c62849cb17f828a26da36db6d9">417c3d4e</a>)</li>
<li>$historyId should default to root (<a href="https://github.com/driftyco/ionic/commit/00aa24fc7fa37a5e8c20ad79fd4fd19fdca3526e">00aa24fc</a>)</li>
<li>find delegate by historyId (<a href="https://github.com/driftyco/ionic/commit/46cbaf9527f6432a645147224d9d72dcec7c91dd">46cbaf95</a>, closes <a href="https://github.com/driftyco/ionic/issues/2572">#2572</a>)</li>
<li>calling ionic scroll methods blur any selected input elements. (<a href="https://github.com/driftyco/ionic/commit/8ee83777f71d41b671695230ce2d1af47760e80a">8ee83777</a>, closes <a href="https://github.com/driftyco/ionic/issues/2244">#2244</a>)</li>
</ul>
</li>
<li><strong>scrollView:</strong><ul>
<li>make mousewheel events firefox-compatible (<a href="https://github.com/driftyco/ionic/commit/0a8eb3914f200a6c00bb07459e388e66042ebce6">0a8eb391</a>, closes <a href="https://github.com/driftyco/ionic/issues/2616">#2616</a>)</li>
<li>fix null pointer exception on scrollbar (<a href="https://github.com/driftyco/ionic/commit/037d2c368efff425d1041fef29d63d7de51ecc9f">037d2c36</a>)</li>
</ul>
</li>
<li><strong>scrolling:</strong> fix overflow scrolling when side menu and main content both use overflow scrolli (<a href="https://github.com/driftyco/ionic/commit/622667b3dec637bdd75dbf24b2d3e2a4b1142bc9">622667b3</a>)</li>
<li><strong>sideMenu:</strong> allow expose-aside-when on the right side. (<a href="https://github.com/driftyco/ionic/commit/29d6dc8163fe744f361e2d0e357bfeea43865a16">29d6dc81</a>, closes <a href="https://github.com/driftyco/ionic/issues/2207">#2207</a>)</li>
<li><strong>slideBox:</strong><ul>
<li>allow disable dragging on slide boxes (<a href="https://github.com/driftyco/ionic/commit/09247f12376eb1b9eac2377589468436c25c9c18">09247f12</a>, closes <a href="https://github.com/driftyco/ionic/issues/2436">#2436</a>, <a href="https://github.com/driftyco/ionic/issues/2457">#2457</a>)</li>
<li>do not require scroll parent (<a href="https://github.com/driftyco/ionic/commit/0d2f54e6a9d270daee8380569929d330c06f50e3">0d2f54e6</a>)</li>
</ul>
</li>
<li><strong>slidebox:</strong> refactor for performance and stability (<a href="https://github.com/driftyco/ionic/commit/7ef9ad74cf6fd12b33e7d48915208ccfbeb5d531">7ef9ad74</a>, closes <a href="https://github.com/driftyco/ionic/issues/2336">#2336</a>, <a href="https://github.com/driftyco/ionic/issues/2317">#2317</a>, <a href="https://github.com/driftyco/ionic/issues/2290">#2290</a>, <a href="https://github.com/driftyco/ionic/issues/2228">#2228</a>, <a href="https://github.com/driftyco/ionic/issues/2067">#2067</a>, <a href="https://github.com/driftyco/ionic/issues/1890">#1890</a>, <a href="https://github.com/driftyco/ionic/issues/1865">#1865</a>, <a href="https://github.com/driftyco/ionic/issues/1850">#1850</a>, <a href="https://github.com/driftyco/ionic/issues/1755">#1755</a>, <a href="https://github.com/driftyco/ionic/issues/1688">#1688</a>, <a href="https://github.com/driftyco/ionic/issues/1578">#1578</a>, <a href="https://github.com/driftyco/ionic/issues/1501">#1501</a>, <a href="https://github.com/driftyco/ionic/issues/1353">#1353</a>, <a href="https://github.com/driftyco/ionic/issues/1342">#1342</a>, <a href="https://github.com/driftyco/ionic/issues/782">#782</a>, <a href="https://github.com/driftyco/ionic/issues/416">#416</a>, <a href="https://github.com/driftyco/ionic/issues/2288">#2288</a>)</li>
<li><strong>tabs:</strong><ul>
<li>remove cache=false tab view element (<a href="https://github.com/driftyco/ionic/commit/ab99b13be8405a9e0c3a0382653946bbeaaef195">ab99b13b</a>)</li>
<li>remove unselected tabs on clearCache (<a href="https://github.com/driftyco/ionic/commit/767362bebd68af6e946b6290adff11d87db293a9">767362be</a>)</li>
<li>wrap inline tab content (<a href="https://github.com/driftyco/ionic/commit/3e31614fb4623242c581f88100035e00b912e049">3e31614f</a>, closes <a href="https://github.com/driftyco/ionic/issues/2637">#2637</a>)</li>
<li>fix goToHistoryRoot (<a href="https://github.com/driftyco/ionic/commit/d1a80d49501df8d1e906a1f70186db522016effd">d1a80d49</a>)</li>
<li>android tabs stay under 2nd view (<a href="https://github.com/driftyco/ionic/commit/e3f51ca8d0f99e97989779d08abc76094eef30e3">e3f51ca8</a>)</li>
</ul>
</li>
<li><strong>tap:</strong> prevent possible click error in specifc android devices. (<a href="https://github.com/driftyco/ionic/commit/8fae474252c67a447a1d7fc0461b33ea4c733b8b">8fae4742</a>, closes <a href="https://github.com/driftyco/ionic/issues/2235">#2235</a>)</li>
<li><strong>title:</strong> use defined viewTitle attrs (<a href="https://github.com/driftyco/ionic/commit/72167b2a454f65a9ffa73bbb12031ed14ce33302">72167b2a</a>)</li>
<li><strong>view:</strong><ul>
<li>digest view scope before transition (<a href="https://github.com/driftyco/ionic/commit/8640924b44c5cbf851ae0cf1bbe4a8807af83d11">8640924b</a>)</li>
<li>prevent flicker (<a href="https://github.com/driftyco/ionic/commit/5966c675f5f5744e5acdaec7483fcf6ea65d5cab">5966c675</a>)</li>
</ul>
</li>
<li><strong>viewController:</strong> use $watch instead of $observe (<a href="https://github.com/driftyco/ionic/commit/b75bd9d8c8496c44d0580b79a779b60613a627f5">b75bd9d8</a>)</li>
</ul>
<h4 id="features">Features</h4>
<ul>
<li><strong>$ionicConfig:</strong> chaining config properties (<a href="https://github.com/driftyco/ionic/commit/786c6d974995c7fc6d768ce436873c520c69cdce">786c6d97</a>)</li>
<li><strong>avatar:</strong> circle avatars by default (<a href="https://github.com/driftyco/ionic/commit/97be8302eb4d0353b1ad9f5c8dea058440bd6437">97be8302</a>)</li>
<li><strong>card:</strong> box-shadow update (<a href="https://github.com/driftyco/ionic/commit/a571c7abdf8324e4bd419bf15c9c94f3af395b27">a571c7ab</a>)</li>
<li><strong>checkbox:</strong> checkbox-square/platform updates (<a href="https://github.com/driftyco/ionic/commit/0c1b23d9800a9810fb218d508df3f6f99ec2a4a4">0c1b23d9</a>)</li>
<li><strong>clearCache:</strong> create $ionicHistory.clearCache() (<a href="https://github.com/driftyco/ionic/commit/2683ffd075f166ee9091660c2dab757e7c29d14a">2683ffd0</a>)</li>
<li><strong>delegateService:</strong> create filterFn to find active (<a href="https://github.com/driftyco/ionic/commit/6276506d4f133c540f7b4fc943632c3fd310b64b">6276506d</a>)</li>
<li><strong>divider:</strong> platform specific dividers (<a href="https://github.com/driftyco/ionic/commit/d257c73639a63e7954dc2df7d9f00f3bc3952281">d257c736</a>)</li>
<li><strong>fonts:</strong> platform specific fonts (<a href="https://github.com/driftyco/ionic/commit/dfcbef1a03fb9d7a878e4f709e6bb92946342787">dfcbef1a</a>)</li>
<li><strong>goBack:</strong> add $ionicHistory.goBack() (<a href="https://github.com/driftyco/ionic/commit/25dddce6178958483a7cb177d726ab10bd11d8a4">25dddce6</a>)</li>
<li><strong>ionNavTitle:</strong> HTML nav-bar titles (<a href="https://github.com/driftyco/ionic/commit/55b35b5409acadf45eb1e6106422d21905b24e2d">55b35b54</a>)</li>
<li><strong>item:</strong> create .list-borderless (<a href="https://github.com/driftyco/ionic/commit/7452d650252196136a4cac68af2bc14b4e4320ff">7452d650</a>)</li>
<li><strong>menuClose:</strong> do not show next back button (<a href="https://github.com/driftyco/ionic/commit/ba3eefdf8a4756e489d1add110f51ffaac93d30a">ba3eefdf</a>)</li>
<li><strong>range:</strong> default css update (<a href="https://github.com/driftyco/ionic/commit/03e634a358274ee04c49266d3bff2c2cbbafba64">03e634a3</a>)</li>
<li><strong>routing:</strong> Helpful logging message on unmatched routes (<a href="https://github.com/driftyco/ionic/commit/ea36d71b7772116bc97f8d73ce493f71af4e53a1">ea36d71b</a>)</li>
<li><strong>slideBox:</strong><ul>
<li>add on-slide-start callback (<a href="https://github.com/driftyco/ionic/commit/cd5aaa5df203c2a509723405e3d851dd39ae59b1">cd5aaa5d</a>)</li>
<li>use <code>selected</code> value provided for initial section (<a href="https://github.com/driftyco/ionic/commit/01c829c35114a655e50e98d46e3b03f72364c13f">01c829c3</a>)</li>
</ul>
</li>
<li><strong>thumbnail:</strong> adjust item padding/weight (<a href="https://github.com/driftyco/ionic/commit/0315fc3a4d4daa66ac7ca2a0db9b7b90fb6530af">0315fc3a</a>)</li>
</ul>
<h4 id="breaking-changes">Breaking Changes</h4>
<ul>
<li><p>The slideBox&#39;s API has undergone many changes.</p>
</li>
<li><p><strong><code>&lt;ion-slide-box&gt;</code></strong> attributes have changed (see
<a href="http://ionicframework.com/docs/api/directive/ionSlideBox">documentation</a>):</p>
<ul>
<li><p><code>active-slide</code> has changed to <code>selected</code>. Change your code from
this:</p>
<pre><code class="lang-html">&lt;ion-slide-box active-slide=&quot;activeSlideIndex&quot;&gt;&lt;/ion-slide-box&gt;
</code></pre>
<p>To this:</p>
<pre><code class="lang-html">&lt;ion-slide-box selected=&quot;activeSlideIndex&quot;&gt;&lt;/ion-slide-box&gt;
</code></pre>
</li>
<li><p><code>does-continue</code> has changed to <code>loop</code>.  Change your code from this:</p>
<pre><code class="lang-html">&lt;ion-slide-box does-continue=&quot;shouldLoop&quot;&gt;&lt;/ion-slide-box&gt;
</code></pre>
<p>To this:</p>
<pre><code class="lang-html">&lt;ion-slide-box loop=&quot;shouldLoop&quot;&gt;&lt;/ion-slide-box&gt;
</code></pre>
</li>
<li><p><code>auto-play</code> and <code>slide-interval</code> have been merged into <code>auto-play</code>.
Change your code from this:</p>
<pre><code class="lang-html">&lt;!-- autoPlay is on --&gt;
&lt;ion-slide-box auto-play=&quot;true&quot; slide-interval=&quot;1000&quot;&gt;
&lt;/ion-slide-box&gt;
&lt;!-- autoPlay is off --&gt;
&lt;ion-slide-box auto-play=&quot;false&quot; slide-interval=&quot;1000&quot;&gt;
&lt;/ion-slide-box&gt;
</code></pre>
<p>To this:</p>
<pre><code class="lang-html">&lt;!-- autoPlay is on --&gt;
&lt;ion-slide-box auto-play=&quot;1000&quot;&gt;&lt;/ion-slide-box&gt;
&lt;!-- autoPlay is off --&gt;
&lt;ion-slide-box auto-play=&quot;false&quot;&gt;&lt;/ion-slide-box&gt;
</code></pre>
</li>
<li><p><code>show-pager</code> and <code>pager-click</code> have been removed. Use
a child <code>&lt;ion-slide-pager&gt;</code> element. See the <a href="http://ionicframework.com/docs/api/directive/ionSlidePager"><code>ion-slide-pager</code>
documentation</a>.
Change your code from this:</p>
</li>
</ul>
<pre><code class="lang-html">&lt;!-- pager using default click action --&gt;
&lt;ion-slide-box show-pager=&quot;true&quot;&gt;
&lt;/ion-slide-box&gt;
&lt;!-- pager with custom click action --&gt;
&lt;ion-slide-box show-pager=&quot;true&quot; pager-click=&quot;doSomething(index)&quot;&gt;
&lt;/ion-slide-box&gt;
</code></pre>
<p>To this:</p>
<pre><code class="lang-html">&lt;ion-slide-box&gt;
  &lt;!-- pager using default click action --&gt;
  &lt;ion-slide-pager&gt;&lt;/ion-slide-pager&gt;
&lt;/ion-slide-box&gt;
&lt;ion-slide-box&gt;
  &lt;!-- pager with custom click action --&gt;
  &lt;ion-slide-pager ng-click=&quot;doSomething(index)&quot;&gt;&lt;/ion-slide-pager&gt;
&lt;/ion-slide-box&gt;
</code></pre>
</li>
<li><p><strong><code>$ionicSlideBoxDelegate</code></strong> methods have changed (see
<a href="http://ionicframework.com/docs/api/service/$ionicSlideBoxDelegate">documentation</a>):</p>
<ul>
<li><p><code>update()</code> has been removed. slideBox updates on its own now.</p>
</li>
<li><p><code>stop()</code> has been removed. See <code>autoPlay()</code> below.</p>
</li>
<li><p><code>start()</code> hass been removed. See <code>autoPlay()</code> below.</p>
</li>
<li><p><code>slide(newIndex[, speed])</code> has been renamed to `select(newIndex[,
speed]);</p>
</li>
<li><p><code>currentIndex()</code> has been renamed to <code>selected()</code>.</p>
</li>
<li><p><code>slidesCount()</code> has been renamed to <code>count()</code>.</p>
</li>
<li><p>New method <code>$ionicSlideBoxDelegate.autoPlay()</code>. Change your code
from this:</p>
<pre><code class="lang-js">// stop auto sliding
$ionicSlideBoxDelegate.stop();
// later... start auto sliding
$ionicSlideBoxDelegate.start();
</code></pre>
<p>To this:</p>
<pre><code class="lang-js">var autoPlaySpeed = 3000; //wait 3000 seconds between changing slide
// stop auto sliding
$ionicSlideBoxDelegate.autoPlay(false);
// later... start auto sliding
$ionicSlideBoxDelegate.autoPlay(autoPlaySpeed);
</code></pre>
</li>
<li><p><code>previous()</code> now returns the index of the previous slide and does
not select. Change your code from this:</p>
<pre><code class="lang-js">// select previous slide
$ionicSlideBoxDelegate.previous();
</code></pre>
<p>To this:</p>
<pre><code class="lang-js">// select previous slide
$ionicSlideBoxDelegate.select( $ionicSlideBoxDelegate.previous() );
</code></pre>
</li>
<li><p><code>next()</code> now returns the index of the next slide and does
not select. Change your code from this:</p>
<pre><code class="lang-js">// select next slide
$ionicSlideBoxDelegate.next();
</code></pre>
<p>To this:</p>
<pre><code class="lang-js">// select next slide
$ionicSlideBoxDelegate.select( $ionicSlideBoxDelegate.next() );
</code></pre>
</li>
</ul>
<p>(<a href="https://github.com/driftyco/ionic/commit/7ef9ad74cf6fd12b33e7d48915208ccfbeb5d531">7ef9ad74</a>)</p>
</li>
</ul>
