
.story-bg {
	top:0px;
	left:0px;
	width:100%;
	background-size:cover;
}


.story-list .story-image,.story-list .story-title,.story-list .story-tabs,.story-list .icons-row {
	border:none;
	padding:0px;
}


.icons-row {
	font-size:30px;
	display:flex;
	display:-webkit-flexbox;
	display:-webkit-box;
	display:-webkit-flex;	
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	justify-content:space-around;
	align-items:center;		
	-webkit-justify-content:space-around;
	-webkit-align-items:center;		

	color:rgb(28, 127, 190);
	padding:0px;
	width:100%;
}

.tab-counter {
	position: absolute;
right: -10px;
top: 25px;
color: #FFF;
background: #1C7FBE;
font-size: 10px;
padding: 0px;
margin: 0px;
display: block;
border-radius: 50%;
width: 20px;
height: 20px;
line-height: 15px;
border: 2px solid #FFF;
}

.bar-white {
	background:#FFF;
	background-image: none;	
	box-shadow: 0px -1px 3px #666;
	height: 55px;	
}
.story-list .icons-row  {
	box-shadow: inset 0px 1px 3px #666;
}


.story-list .story-tabs {
	box-shadow: inset 0px 1px 3px #666;	
}


.story-icon {
	text-align:center;
	padding:10px 0px;
	-webkit-transition:all 0.3s cubic-bezier(.17,.67,0,1);
	  position:relative;
}

.story-icon .icon-label {
	display:block;	
	font-size:10px;
	height:10px;
	line-height: 10px;
}

.story-icon.active-icon {
	-webkit-transform:scale(1.2);
	color:#333; 
	
}
.story-icon.active-icon .tab-counter {
	background:#333;	
}

ion-item.story-title,ion-item.story-title h1 {
overflow: visible;
text-overflow: inherit;
white-space: normal;
font-size: 18px;
padding: 10px;
margin-bottom: 0px;	
}

.entities-list p {
	font-size:15px;
}

.wiki-attribution {	
	font-size: 10px;
	padding: 0px;
	margin: 0px;
	float: right;
}