body {
	background:#333;	
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
  
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.box {
	width:100%;
	height:480px;
background-size: cover;	
}

.box2 {
	width:100%;
	height:480px;
	background-size: cover;
	background-position: center center;
	opacity:0;
	-webkit-transition:all 0.5s ease-out; 
	
}

.top .box2 {
	opacity:1;
} 

.box3 {
	width:100%;
	height:400px;
	background:#fcc;
	
}

ion-slide {
	background-size: cover;
	background-position: center center;
}

.item-link {
	display:block;
	width:100%;
	height:100%;
	color:#FFF;
	text-decoration: none;
	
}

.rz-article-title {
	width: 100%;
	padding:10px 5px;
	/*background: #007AFF;
	font-size: 20px;
	line-height: 22px;	
	*/
	font-size: 40px;
	line-height: 42px;
	font-family: 'Fjalla One', sans-serif;
	background:rgba(0, 122, 255, 0.75);
	
	-webkit-transform: rotate(0deg);
	position: absolute;
	bottom: -35%;
	opacity:0;
	-webkit-transition: all 0.3s ease-out;
	overflow:hidden;
	z-index:5;
	display: flex;
	display:-webkit-flexbox;
	display:-webkit-box;
	display:-webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	
	
}

.current .rz-article-title {
	bottom: 95px;
	left:0px;
	opacity:1;
	-webkit-transition: all 0.3s ease-out;

}

.rz-article-meta {
	width: 96%;
	height: 35px;
	background: #5856D6;
	-webkit-transform: rotate(0deg);
	padding: 5px;
	font-size: 15px;
	position: absolute;
	bottom: 70px;
	left:4%;
	line-height: 35px;
	-webkit-transition: all 0.3s ease-out;
	-webkit-transition-delay:0.3s; 
	overflow:hidden;
	opacity:0;
	z-index:4;
	display: flex;
	display:-webkit-flexbox;
	display:-webkit-box;
	display:-webkit-flex;
	align-items: center;	
	-webkit-align-items: center;
	text-transform: uppercase;
}

.current .rz-article-meta {
	bottom: 60px;
	left:4%;
	-webkit-transition: all 0.3s ease-out;
	    -webkit-transition-delay:0.5s; 
	    opacity:1;
	border-top: 2px solid #333;
}

.rz-article-meta h1 {
	color:#FFF;
	float:left;
	font-size:15px;	
	margin:0px;
}

.rz-article-icons {
	width: 88%;
	height: 35px;
	background: #34AADC;
	/*background:rgba(52, 170, 220, 0.85);*/
	-webkit-transform: rotate(0deg);
	font-size: 32px;
	position: absolute;
	bottom: 60px;
	left:12%;
	-webkit-transition: all 0.3s ease-out;
	-webkit-transition-delay:0.6s; 
	overflow:hidden;
	opacity:0;
	z-index:3;	
	text-align:right;
	padding-right:1%;
}

.current .rz-article-icons {
	bottom: 25px;
	left:12%;
	-webkit-transition: all 0.3s ease-out;
	    -webkit-transition-delay:0.6s; 
	    opacity:1;
	border-top: 2px solid #333;
}
.rz-article-icon {
	display: inline-block;
	position:relative;	
	margin-right:10px;
}
.rz-icon-value {
	font-size: 10px;
position: absolute;
top: 2px;
right: -10px;
width: 17px;
height: 17px;
background: #F00;
border:2px solid #34AADC;
display: block;
line-height: 12px;
text-align: center;
border-radius: 50%;
font-weight: bold;
color:#FFF;
		
}

.rz-story-gallery {
background-size: cover;
	background-position: center 40%;
	background-repeat: no-repeat;	
}

.rz-story-header {
	width:100%;
	height:240px;
	background-size: cover;
	background-position: center 40%;
	background-repeat: no-repeat;
	display: flex;
	display:-webkit-flexbox;
	display:-webkit-box;
	display:-webkit-flex;
	align-items: flex-end;	
	-webkit-align-items: flex-end;
	padding:0px;
}


.rz-story-title {
	position: relative;
	font-family: 'Fjalla One', sans-serif;
	color:#FFF;
	width:100%;
	padding:5px;
	font-size:18px;
	line-height:19px;
	height:70px;
	/*background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));*/
	background:rgba(0, 122, 255, 0.75);
	
}

.rz-story-title-back {
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	position:absolute;
	top:50%;
	left:0px;
	margin-top:-20px;
	font-size:40px;	
	border-right:1px solid #FFF;
}
.rz-story-content {
	font-family:'Merriweather', serif; 
	font-size:medium;
	margin-bottom:50px;
}

.rz-story-text {
	padding:9px;
}

.slide-title {
	
width: 100%;
background: #007FBB;
font-size: 20px;
font-weight: normal;
text-transform: uppercase;
padding: 5px;
color:#FFF;
	margin-bottom: 0px;


}

.slide-title .rz-article-icon {
	font-size:25px;
	width:30px;
	text-align:center;
		
}

.rz-story-icons {
position: absolute;
top: 0px;
right: 0px;
font-size: 30px;
color: #FFF;
text-shadow: 0px 0px 3px #333;
z-index: 5;
text-align: center;
padding: 15px 5px 0px 5px;
overflow: hidden;
background: rgba(0,0,0,0.3);
height:200px;
}

.rz-story-icons li{
	display: block;
	position: relative;
	margin-bottom:3px;
	z-index:0;
}

.rz-story-icon {
	display:block;
	width:40px;
	height:40px;
	position:relative;	
	text-align:center;
}

.rz-story-icons .rz-story-icon-value {
	position: absolute;
	display: block;
	float:right;
	right:2px;
	top:0px;
	text-align:center;
	width:15px;
	height:15px;
	line-height:15px;
	background: red;
	color:#FFF;
	border-radius: 50%;
	font-size:10px;
	text-shadow:none;
	z-index:1;
	box-shadow:0px 0px 3px #333;
		
}

.rz-story-icon-title {
	font-size: 9px;
	display: block;
	margin-top: -15px;
	width: 100%;
}

.rz-story-icons.horizontal {
	width:100%;
	height:40px;
}
.rz-story-icons.horizontal li {
	display:inline-block;
}

.rz-story-top-shadow {
	position: absolute;
	top:0px;
	width:100%;
	height:60px;
	left:0px;
	background:-webkit-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0));	
	z-index:1;
}


.slider-pager .slider-pager-page {
	text-shadow:0px 0px 6px #FFF;
}

#story-slides .slider-pager {
	bottom:5px;	
	-webkit-transform: scale(0.5);
	    
}

#videoplayer {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 200px;
overflow: hidden;
z-index:10;
		
}

#videoplayer #close-player {
	position:absolute;
	right:10px;
	top:15px;
	width:20px;
	height:20px;
	line-height:20px;
	text-align:center;
	border-radius:50%;
	border:1px solid #FFF;	
	color:#FFF;
	box-shadow: 0px 0px 2px #333;
	text-shadow:0px 0px 2px #333;
	z-index:10;
}

#videoplayer #close-player:before {
	content:'\2573';
}

.rz-story-gallery ion-slide {
		background-size: cover;
	background-position: center 40%;
	background-repeat: no-repeat;
}

.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
	border-radius:50%;
	width:80px;
	height:80px;
}


.item p {
	white-space: pre-line;
	color:#333;
	font-size:15px;
}

.item p::after {
	display: block;
	width:100%;
	height:10px;
	position:absolute;
	background:rgba(255,0,0,0.5);
	z-index:10;
	bottom:0px;
	left:0px;
}

.item-date {
	float: right;
	font-size: 10px;
	background: #EBEBEB;
	margin-right: -15px;
	padding: 0px 5px;
}

.item-section {
	text-transform:uppercase;
	margin-left:-15px;
	color:rgb(0, 122, 255);
	font-size:10px;
	padding:0px 5px;
}


.button .ion-navicon-round {
	font-size:32px;	
}

#splash {
	position:fixed;
	top:0px;
	left:0px;
	z-index:100;
	background-size:cover;
	background:url(../img/splash.png);
	background-position:center center;
}

.tracks ion-item.image {
	background-size: cover;
	background-position: center center;	
	padding:0px;
	position:relative;

}

.tracks ion-item.image.adv {
	height:70px;
	padding:10px;
}

.adv-wrapper {
width: 100%;
height: 100%;
background-size: cover;	
}

.tracks .text {
		white-space: normal;
		padding:8px;	
font-family: 'Oswald', sans-serif;
font-weight: 300;
background: #FFF;
color:#111;

}

.tracks ion-item h1 {
	padding:5px;
	font-size: 25px;
	white-space: normal;
	color: #FFF;
	width:100%;
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	text-align:left;
	display:flex;
	display:-webkit-flexbox;
	display:-webkit-box;
	display:-webkit-flex;	
	align-items:center;
	-webkit-align-items:center;
	justify-content:center;
	-webkit-justify-content:center;
	background:rgba(28, 127, 190,1);
	text-transform: uppercase;
	margin:0px;
	padding-left:20px;
	position:relative;
	z-index:1;	
}

.tracks ion-item h1.track-title {
	background: rgba(0,0,0,0.5);	
	bottom: 0px;
}

.tracks ion-item .slug {
	position:absolute;
	bottom:0px;
	width:100%;
	padding:0px;
}  



.tracks ion-item .slug p {
	color:#333;
	white-space: normal;
	padding:5px;
	margin:0px;	
	font-size:15px;
	background:#FFF;
}

.tracks ion-item .section {
	padding:10px;
	color: #FFF;
	font-size: 27px;
	text-transform: uppercase;
	font-weight: 700;	
	font-family: 'Oswald', sans-serif;
	color:rgba(28, 127, 190,1);
	margin:0px;
	background:rgba(255,255,255,1);
	position:relative;
	z-index:1;
}

.text {
	white-space: normal;
	padding:8px;
}


#player {
	position:absolute;
	background:rgba(255,255,255,0.4);
	z-index:5;
	box-shadow: 0px 1px 3px #333;
}

.player-controls {
	width:100%;
	text-shadow: 0px 0px 8px #FFF;
}

.player-controls li {
	display:inline-block;
	width:32%;
	font-size:30px;
	text-align:center;
	line-height:48px;
}

.readLaterIcon {
	top:5px;
	right:7px;
	position:absolute;
	color: #FFF;
	font-size: 30px;
	float: right;
	text-shadow:0px 0px 3px #333;
}
.track-bg {
	height:230px;
	background-size: cover;
	background-position: center bottom;
	-webkit-filter:grayscale(100%) contrast(150%);
}

.tracks ion-item .slug .track-bg {
	width:100%;
	height:100%;
	position:absolute;
	z-index:0;
	-webkit-filter:grayscale(100%) contrast(150%) blur(10px);
}

.image {
	height:300px;
  -webkit-transition: all 0.3s lienar; 	
}

.image.active {
	height:660px;
}
.image.active .track-bg {
	height:560px;	
}

svg {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.bar .title {
font-family: 'Oswald';
text-transform: uppercase;
font-size: 20px;	
}

.bar.bar-positive{
	background: rgba(0,0,0,0.75) !important;
	background-color: rgba(0,0,0,0.75) !!important;
}

.bar-footer .button, .bar-positive .button {
	background: none !important;
	background-color: none !!important;
	border:1px solid rgba(255,255,255,0.5);
	color:#FFF;
}

.bar-footer {
	background: rgba(0,0,0,0.75);
}


#activity-container {
position: fixed;
z-index: 4;
margin: 0 auto;
left: 50%;
right: 0;
top: 25%;
margin-top: -45px;
width: 120px;
height: 80px;
list-style: none;
border-radius: 40px;
margin-left: -60px;
-webkit-transform: scale(2);
opacity: 0.5;
}


.activity-loader{
	position: absolute;
	z-index: 3;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -30px;
	width: 90px;
	height: 60px;
  list-style: none;
  
}

@-webkit-keyframes 'loadbars' {
	0%{
		height: 10px;
		margin-top: 25px;
	}
	50%{
		height:50px;
		margin-top: 0px;
	}
	100%{
		height: 10px;
		margin-top: 25px;
	}
}

.activity-loader li{
		background-color: #FFFFFF;
		width: 10px;
		height: 10px;
		float: right;
		margin-right: 5px;
    box-shadow: 0px 20px 10px rgba(0,0,0,0.2);
	}
.activity-loader li:first-child{
			-webkit-animation: loadbars 1s cubic-bezier(0.645,0.045,0.355,1) infinite 0s;
		}
.activity-loader li:nth-child(2){
			-webkit-animation: loadbars 1s ease-in-out infinite -0.2s;
		}
.activity-loader li:nth-child(3){
			-webkit-animation: loadbars 1s ease-in-out infinite -0.4s;
  }
.activity-loader li:nth-child(4){
			-webkit-animation: loadbars 1s ease-in-out infinite -0.6s;
    }
.activity-loader li:nth-child(5){
			-webkit-animation: loadbars 1s ease-in-out infinite -0.8s;
    }
.activity-loader li:nth-child(6){
			-webkit-animation: loadbars 1s ease-in-out infinite -1.0s;
    }

.bar-positive button:active {
	border-color:#FFF;	
}



.menu,.menu .item,.item-complex .item-content, .item-radio .item-content {
	background:#555;
	color:#FFF;
}
.menu .item.disabled .item-content{
	text-decoration: line-through;
	color:#999;
}

